{% set bodyClass = 'project' %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% else %}
{% set seoDescription = entry.title ~ ' for ' ~ entry.agency %}
{% endif %}

{% if entry.image|length  %}
{% set asset = entry.image.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
.relatedTo(entry.typeOfProject)
.orderBy('postDate desc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


{% extends "_layouts/site" %}


{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

<!-- Previous -->
<div class="auto cell show-for-large project__pagination">
  {% if prevEntry %}
  <a href="{{ prevEntry.url }}">
    <div class="grid-y align-center" style="height: 100%;" data-tippy-content="{{ prevEntry.title }}">
    </div>
  </a>
  {% endif %}
</div>
<!-- End Previous -->

<!-- Center -->
<div class="small-12 medium-10 large-10 xlarge-8 cell">
{% if entry.video %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell">
    <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{ entry.video }}"></div>
  </div>
</div>
{% endif %}


<!-- Credits -->


<div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
  <div class="small-12 cell text-center">
  {% if entry.director|length %}<div><span class="dark-gray padding-right">Director</span> {{ entry.director }}</div>{% endif %}
  {% if entry.producer|length %}<div><span class="dark-gray padding-right">Producer</span> {{ entry.producer }}</div>{% endif %}
  {% if entry.productionCompany|length %}<div><span class="dark-gray padding-right">Production Company</span> {{ entry.productionCompany }}</div>{% endif %}
  {% if entry.agency|length %}<div><span class="dark-gray padding-right">Agency</span> {{ entry.agency }}</div>{% endif %}
  </div>
</div>

{#   <a class="" data-open="reveal{{entry.id}}"><svg class="icon icon-arrows icon-add"><use xlink:href="/assets/icons/symbol-defs.svg#icon-add"></use></svg></a> #}
{#   {% if entry.images|length %}<a data-fancybox-trigger="gallery" href="javascript:;"><svg class="icon icon-arrows icon-tonality"><use xlink:href="/assets/icons/symbol-defs.svg#icon-tonality"></use></svg></a>{% endif %} #}
<!-- End Credit -->

{#
{% if entry.images|length %}
{% for image in entry.images %}
<div class="hide">
  <div data-fancybox="gallery">
      <img data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
  </div>
</div>
{% endfor %}
{% endif %}
#}


<!-- Awards -->
{% if entry.awards|length %}
  {% for award in entry.awards %}
  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-10 cell">
  
      <ul class="menu simple align-center">
        <li class="dark-gray">{{ award.year }}</li>
        <li>{{ award.award }}</li>
        <li>{{ award.category }}</li>
        <li>{{ award.outcome }}</li>
      </ul>
  
    </div>
  </div>
      {% endfor %}
    {% endif %}
<!-- End Awards -->

<!-- Mobile Pagination -->
{% if nextEntry %}
<div class="grid-x grid-padding-x grid-padding-y align-center hide-for-large">
  <div class="shrink cell text-center">
    <a href="{{ nextEntry.url }}"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
</div>
<!-- End Center -->

<!-- Next -->
<div class="auto cell show-for-large project__pagination">
  {% if nextEntry %}
  <a href="{{ nextEntry.url }}">
    <div class="grid-y align-center" style="height: 100%;" data-tippy-content="{{ nextEntry.title }}">
{#       <div class="shrink cell text-center"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></div> #}
    </div>
  </a>
  {% endif %}
</div>
<!-- End Next -->

</div>   
<!-- End Content -->

<!-- Credits -->
<div class="full reveal" id="reveal{{entry.id}}" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">

  <div class="grid-x align-center-middle" style="min-height: 100%">
    <div class="shrink cell padding-vertical-3">

      <div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
        <div class="small-12 cell text-center">
        {% if entry.director|length %}<div><span class="dark-gray">Director</span> {{ entry.director }}</div>{% endif %}
        {% if entry.producer|length %}<div><span class="dark-gray">Producer</span> {{ entry.producer }}</div>{% endif %}
        {% if entry.productionCompany|length %}<div><span class="dark-gray">Production Company</span> {{ entry.productionCompany }}</div>{% endif %}
        {% if entry.agency|length %}<div><span class="dark-gray">Agency</span> {{ entry.agency }}</div>{% endif %}
        {% if entry.copy|length %}<div class="margin-top-1">{{ entry.copy }}</div>{% endif %}
        </div>
      </div>

      <div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
        <div class="small-12 cell text-center">
        <a class="dark-gray text-uppercase" data-close aria-label="Close modal" type="button">Close</a>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- End Credits -->

{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}